<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="public/favicon.png" type="image/png">
    <title>crazyTrip | About Page</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="branding">
                <a href="./home">
                    <h1>crazyTrip</h1>
                </a>
            </div>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="./home">Home</a></li>
                    <li><a href="./blogs">Blogs</a></li>
                    <li id="silink"><a href="./signin">Sign in</a></li>
                    <li id="solink"><a href="./usersignout">Sign Out</a></li>
                    <li><a href="./about" class="current">About</a></li>
                    <li><a href="javascript:void(0);" class="hamburger-icon" onclick="toggleMenu()">&#9776;</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="about">
        <div class="container">
            <h3>About crazyTrip</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint repudiandae reiciendis et perferendis
                quaerat accusamus provident, eius cupiditate ea ducimus illo dignissimos illum doloremque impedit
                mollitia in distinctio suscipit? Perferendis aperiam fugit quidem! Nemo temporibus voluptate cum
                necessitatibus impedit quisquam recusandae eos quis exercitationem quas consequuntur nisi, inventore,
                distinctio at, natus tenetur rerum. Explicabo, eaque non fugit consequatur dolores veniam corrupti ut
                voluptate perspiciatis omnis vitae, et alias harum aliquid consequuntur sapiente odit magni minus
                doloremque sed quis rerum molestias! Consectetur, quod. Quos excepturi dolor consequatur accusantium
                maiores iure perspiciatis mollitia molestiae quisquam possimus? Impedit amet voluptatibus sint nesciunt
                obcaecati autem repudiandae vel modi eum similique ipsa aliquam cumque harum, qui soluta! Fugiat,
                molestiae blanditiis quae excepturi maxime, esse consectetur ad, delectus provident rem laudantium minus
                laborum molestias expedita. Saepe eveniet reprehenderit, iste pariatur nulla soluta nisi exercitationem
                omnis. Deleniti esse corrupti dolores dolor cupiditate libero rerum voluptas molestias tempora,
                veritatis non distinctio error ratione nemo sed quibusdam amet enim ipsum, inventore eum provident quis
                fuga perferendis unde? Eum, adipisci nobis unde eius rem ut quibusdam repellendus tempora, recusandae
                nihil animi? Officiis omnis eveniet corrupti facere ea repellat incidunt consectetur explicabo, nostrum
                nisi corporis vero ipsam laudantium quas vel recusandae tempore iste animi optio perferendis aspernatur
                minima velit delectus accusamus. Eaque, suscipit provident beatae exercitationem cupiditate eum ut
                incidunt hic perferendis, doloribus nostrum reiciendis commodi quibusdam labore necessitatibus,
                asperiores mollitia harum dolore qui. Officia illo rem obcaecati facere quo maiores eligendi saepe ad
                minima tempora! Nesciunt reiciendis a nobis exercitationem veritatis, animi eum ab ex magnam ea at
                repellendus eaque saepe provident voluptates aliquid quis aut.</p>
            <p> Praesentium tempora optio in eos. Omnis
                perspiciatis quod, magnam repellat saepe optio dolorem non delectus enim nihil, repudiandae mollitia.
                Eaque, rerum et! Quod consectetur doloribus maxime nobis tempora sint, quia corporis similique aut.
                Veniam consequuntur officia expedita quam et cupiditate sapiente, perspiciatis impedit non
                exercitationem magni corporis nam. Sapiente iste non voluptatem reiciendis nemo, iure eveniet?
                Consequuntur assumenda, velit blanditiis earum vitae qui cupiditate, dolore odit praesentium nisi
                ducimus cum placeat quisquam possimus ad tenetur laboriosam et? Cupiditate, fugit porro voluptate nisi
                dolore repellat sapiente? Nam qui unde eligendi debitis ratione reprehenderit, cum dolorem esse maiores,
                fuga magnam iusto molestiae nostrum eius id illo minus ab cumque non tempora facilis ipsa consequatur?
                Odit, placeat doloremque. Tempore rerum repellendus atque! Itaque expedita dolorum quaerat esse
                architecto ratione eligendi blanditiis, laudantium quasi nihil laborum molestias. Doloribus, optio harum
                veniam voluptas aliquid doloremque tempora saepe rem temporibus odio itaque eum reiciendis, quod
                laboriosam quaerat nemo eveniet, minima soluta quam vitae eos enim quisquam. Et culpa unde porro?
                Cupiditate tenetur rem minus, placeat eius dolorum sequi! Molestias itaque vitae, voluptatem adipisci
                voluptatibus assumenda officia asperiores inventore necessitatibus! Illum similique earum perspiciatis
                sint hic placeat, unde, voluptates, tenetur nihil sequi cupiditate atque. Voluptates fuga vero optio
                debitis ullam qui veritatis, sapiente repudiandae tenetur illum inventore iusto exercitationem a
                reprehenderit, esse voluptas minima quo minus quam. Minima dolorem dignissimos nobis quam iure
                repellendus? Sunt esse neque quasi quaerat est id?</p>
        </div>
    </section>
    <footer>
        <div class="container">
            <ul>
                <li>Contact Us</li>
                <li>crazyTrip@gmail.com</li>
                <li>Hyderabad,India</li>
            </ul>
            <p>crazyTrip copyright&copy;2022 </p>
        </div>
    </footer>
    <script src='/javascript/main.js'></script>
</body>

</html>