<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="public/favicon.png" type="image/png">
    <title>crazyTrip | Sign Up Page</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="branding">
                <a href="./home">
                    <h1>crazyTrip</h1>
                </a>
            </div>
            <nav class="nav" id="nav">
                <ul>
                    <li class="current"><a href="./home">Home</a></li>
                    <li><a href="./blogs">Blogs</a></li>
                    <li id="silink"><a href="./signin">Sign in</a></li>
                    <li id="solink"><a href="./usersignout" class="current">Sign Out</a></li>
                    <li><a href="./about">About</a></li>
                    <li><a href="javascript:void(0);" class="hamburger-icon" onclick="toggleMenu()">&#9776;</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="signup">
        <div class="signup-block">
            <form action="/usersignup" method="POST" class="signup-form">
                <h1>Sign Up </h1>
                <div>
                    <label for="username">User Name :</label><br>
                    <input type="text" name="username" id="username" placeholder="Enter your Username" class="input-field"><br><br>
                </div>
                <div>
                    <label for="usermail">Mail ID :</label><br>
                    <input type="email" name="usermail" id="usermail" placeholder="Enter your mail id" class="input-field"><br><br>
                </div>
                <div>
                    <label for="userpassword">Password :</label><br>
                    <input type="password" name="userpassword" id="userpassword" class="password-field"><br><br>
                </div>
                <button class="submit-button" type="submit" value="submit" class="submit-button" >Sign Up</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="container">
            <ul>
                <li>Contact Us</li>
                <li>crazyTrip@gmail.com</li>
                <li>Hyderabad,India</li>
            </ul>
            <p>crazyTrip copyright&copy;2022 </p>
        </div>
    </footer>
    <script src='/javascript/main.js'></script>
</body>

</html>